@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Montserrat;
}

.title {
  font-size: 40px;
  line-height: 49px;
  font-weight: 700;
  text-align: center;
  position: relative;
  padding: 0 0 10px;
  color: #433754;
}
.title:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 5px;
  background-color: #f7b517;
  bottom: 0;
  left: calc(50% - 20px);
}

.subtitle {
  padding: 0 0 13px;
  font-size: 40px;
  font-weight: bold;
  position: relative;
}
.subtitle:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 60px;
  height: 2px;
  background-color: #000;
}
.subtitle:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 70px;
  display: inline-block;
  width: 10px;
  height: 2px;
  background-color: #000;
}

.container {
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
}

header {
  padding: 25px 0 0 0;
  font-size: 10px;
  font-weight: 500;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__item:nth-child(2) {
  flex-grow: 1;
}
.header__item button {
  margin: 0 0 0 50px;
}

.header__menu .menu__icon {
  display: none;
}
.enroll_now {
  width: 100px;
  height: 30px;
  background-color: #f7b517;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 8px;
}
.enroll_now:hover {
  background-color: #fff;
  color: #f7b517;
  border: 1px solid #f7b517;
}

.header__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__list li {
  margin: 0 0 0 30px;
  position: relative;
}
.header__list li:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 22px;
  height: 2px;
  color: #433754;
  z-index: 100;
}
.header__list a {
  color: #433754;
  display: inline-block;
}
.header__list a:hover {
  text-decoration: underline;
}

.enroll_now {
  width: 100px;
  height: 30px;
  background-color: #f7b517;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 8px;
}
.enroll_now:hover {
  background-color: #fff;
  color: #f7b517;
  border: 1px solid #f7b517;
}

.first-screen {
  padding: 60px 0 0 0;
  text-align: center;
}
.first-screen .container {
  position: relative;
}
.first-screen .cloud_1 {
  position: absolute;
  top: 200px;
  left: 250px;
}
.first-screen .cloud_2 {
  position: absolute;
  top: 230px;
  right: 250px;
  transform: scale(0.9);
}
.first-screen .sun {
  position: absolute;
  top: 80px;
  right: 110px;
}
.first-screen .bird_1 {
  position: absolute;
  top: 80px;
  left: 100px;
}
.first-screen .bird_2 {
  position: absolute;
  top: 120px;
  left: 140px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 12px;
}

.first-screen__text {
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 55px;
}

.first-screen__row {
  display: flex;
  justify-content: center;
  margin: 0 0 27px;
}

.first-screen__item {
  flex: 0 1 13%;
  margin: 0 10px;
}
.first-screen__item .enroll_now {
  width: 130px;
  height: 40px;
  font-size: 14px;
}

.contact-us {
  width: 130px;
  height: 40px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 5px;
  color: #6059f7;
  border: 1px solid #6059f7;
  text-transform: uppercase;
  font-weight: 700;
}
.contact-us:hover {
  background-color: #6059f7;
  color: #fff;
}

.first-screen__img {
  background: url("../img/Framemain-image.svg") 0 0/100% 100% no-repeat;
  width: 100%;
  min-height: 300px;
  max-height: 450px;
}

.about_us {
  padding: 70px 0 0 0;
}
.about_us p {
  color: #433754;
}
.about_us .container {
  padding: 0 15px;
}

.about_us__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about_us__item {
  flex: 0 1 27%;
  display: flex;
  align-items: center;
  padding: 0 20px 0 70px;
  width: 320px;
  height: 80px;
  margin: 0 35px 70px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  position: relative;
}
.about_us__item:before {
  content: "";
  position: absolute;
  top: 20px;
  left: 16px;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.about_us__item_1:before {
  background: url("../img/online.svg") 0 0/cover no-repeat;
  height: 38.5px;
}

.about_us__item_2:before {
  background: url("../img/Presentations99th.svg") 0 0/cover no-repeat;
}

.about_us__item_3:before {
  background: url("../img/clock.svg") 0 0/cover no-repeat;
}

.about_us__item_4:before {
  background: url("../img/paper.svg") 0 0/cover no-repeat;
}

.about_us__item_5:before {
  background: url("../img/money.svg") 0 0/cover no-repeat;
}
.about_us__item_5 span {
  color: #f7b517;
}

.why {
  padding: 35px 0 87px 0;
  background: #fafafa;
}

.why__title {
  margin-bottom: 60px;
}

.why__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.why__row img {
  width: 100%;
}

.why__row_1 {
  margin-bottom: 70px;
}

.why__item_1 {
  padding: 0 50px;
}

.why__item_2 {
  flex: 0 1 60%;
}

.why__subtitle {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}
.why__subtitle span {
  color: #f7b517;
}

.why__text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}

.why__row_2 {
  flex-direction: row-reverse;
}

.instructor {
  padding: 60px 0 60px 0;
  margin-bottom: 65px;
}
.instructor .container {
  position: relative;
}
.instructor img {
  position: absolute;
  top: 100px;
  left: 0;
}

.instructor__row {
  display: flex;
  justify-content: flex-end;
}

.instructor__title {
  margin-bottom: 85px;
}

.instructor__container {
  max-width: 920px;
  padding: 35px 65px 65px 270px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

.instructor__subtitle {
  margin: 0 0 20px;
}

.instructor__list {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}

.instructor__item {
  margin-bottom: 20px;
  position: relative;
  padding: 0 0 0 45px;
}
.instructor__item:last-child {
  margin-bottom: 0;
}
.instructor__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../img/done.svg") 0 0/cover no-repeat;
}

.sat_class {
  padding: 35px 0 50px;
  text-align: center;
  background: url("../img/sat_class.svg") 50% 60%/435px 435px no-repeat, #fafafa;
}

.sat_class__title {
  margin-bottom: 30px;
}

.sat_class__box {
  display: inline-block;
  max-width: 250px;
  margin-bottom: 70px;
}
.sat_class__box:last-child {
  margin-bottom: 0;
}

.sta_class__subtitle {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #6059f7;
}

.sta_class__text {
  font-size: 12px;
  line-height: 14px;
}

.sat_class__row {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 125px;
}
.sat_class__row .sat_class__box {
  margin-bottom: 0;
}
.sat_class__row:last-child {
  margin-bottom: 60px;
}

.sat_class__row_2 {
  margin-bottom: 70px;
}

.sta_class__list {
  font-size: 12px;
  line-height: 14px;
}
.sta_class__list li {
  margin-bottom: 3px;
}
.sta_class__list li:before {
  content: "";
  display: inline-block;
  line-height: 14px;
  width: 5px;
  height: 5px;
  top: 50%;
  border-radius: 50%;
  background-color: #000;
  margin: 0 7px 0 0;
}

.testimonials {
  padding: 62px 0 117px;
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Стрелка влево */
}
.testimonials .slick-list {
  position: relative;
  overflow: hidden;
}
.testimonials .slick-track {
  padding: 0 0 60px;
  display: flex;
  justify-content: center;
}
.testimonials .slick-arrow.slick-prev {
  background: url("../img/arrow.svg") 0 50%/auto 100% no-repeat;
  left: -50px;
}
.testimonials .slick-arrow.slick-prev:hover {
  transform: rotate(180deg);
  background: url("../img/arrow-active.svg") 0 50%/auto 100% no-repeat;
}
.testimonials .slick-arrow.slick-next {
  background: url("../img/arrow.svg") 0 50%/auto 100% no-repeat;
  right: -50px;
  transform: rotate(180deg);
}
.testimonials .slick-arrow.slick-next:hover {
  transform: rotate(0deg);
  background: url("../img/arrow-active.svg") 0 50%/auto 100% no-repeat;
}
.testimonials .slider__item {
  padding: 20px 20px 60px;
  text-align: center;
  border: 1px solid #3d3d3d;
  border-radius: 10px;
  height: auto;
  font-size: 14px;
  line-height: 17px;
  color: #3d3d3d;
  margin: 0 15px 0;
}
.testimonials .slider__item p {
  font-style: italic;
  padding: 26px 20px 0;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 15px;
  color: #3d3d3d;
  position: relative;
}
.testimonials .slider__item p:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 30px;
  height: 25px;
  background: url("../img/quote-close.svg") 0 0/cover no-repeat;
  transform: translateY(0px);
}
.testimonials .slider__item p:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 40px);
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url("../img/slider-img.jpg") 0 0/cover no-repeat;
  transform: translateY(130px);
  border-radius: 50%;
}
.testimonials .slider__item h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #433754;
}

.testimonials__title {
  margin-bottom: 57px;
}

.testimonials__slider {
  position: relative;
}

/* Слайд */
.slick-slide {
  flex: 0 1 25%;
}

/* Стрелка */
.slick-arrow {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  bottom: calc(50% + 10px);
  font-size: 0;
}

.signupnow {
  padding: 50px 0;
  background: url("../img/group20.svg") 100% 0/contain no-repeat, url("../img/group21.svg") 0 0/contain no-repeat, #6059f7;
  text-align: center;
}
.signupnow .container {
  max-width: 950px;
}

.signupnow__text {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 35px;
}

.enroll_now {
  width: 140px;
  height: 40px;
  font-size: 14px;
}

.plans {
  padding: 60px 0 70px;
  margin-bottom: 70px;
}

.plans__title {
  margin-bottom: 50px;
}

.plans__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.plans__item {
  padding: 110px 13px 22px;
  flex: 0 1 23%;
  border: 1px solid #000;
  border-radius: 30px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.plans__item .enroll_now {
  position: absolute;
  bottom: 0;
  left: calc(50% - 70px);
  transform: translateY(20px);
}
.plans__item .plans__price {
  text-align: center;
  transform: translateY(85px);
  font-size: 25px;
  font-weight: 700;
}
.plans__item .plans__price span {
  color: #6059f7;
}
.plans__item .plans__price p {
  color: #6059f7;
  font-size: 12px;
  font-weight: 700;
}

.plans__item_1 {
  background: url("../img/bronze.svg") 0 0/100% no-repeat;
}
.plans__item_1:before {
  content: "";
  position: absolute;
  bottom: 40px;
  right: 0;
  display: inline-block;
  width: 1px;
  height: 100px;
  z-index: 5;
  background-color: #fff;
}

.plans__item_2 {
  background: url("../img/silver.svg") 0 0/100% no-repeat;
}
.plans__item_2 .plans__price {
  transform: translateY(120px);
}
.plans__item_2 .plans__price h3 {
  margin-bottom: 10px;
}

.plans__item_3 {
  background: url("../img/gold.svg") 0 0/100% no-repeat;
}
.plans__item_3 .plans__subtitle {
  margin-bottom: 5px;
}
.plans__item_3 .plans__item_bonus {
  margin-bottom: 20px;
  padding: 10px 24px;
  background-color: #fff;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  border: 1px solid #6059f7;
  border-radius: 10px;
  line-height: 1.3;
  letter-spacing: 1.3;
}

.plans__item_4 {
  background: url("../img/platinum.svg") 0 0/100% no-repeat;
}

.plans__subtitle {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 80px;
}
.plans__subtitle span {
  font-size: 15px;
}

.plans__list {
  font-size: 12px;
  font-weight: 500;
}
.plans__list li {
  position: relative;
  margin-bottom: 7px;
  padding: 0 0 12px;
}
.plans__list li:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #f7b517;
  bottom: 0;
  left: calc(50% - 10px);
}
.plans__list li:last-child {
  margin-bottom: 0;
}
.plans__list li:last-child::before {
  width: 0;
  height: 0;
}

.quote {
  padding: 70px 0;
  background-color: #fafafa;
}

.quote__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quote__item {
  flex: 0 1 63%;
}

.quote__text {
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #3d3d3d;
}
.quote__text p {
  padding: 0 60px;
  margin-bottom: 30px;
  position: relative;
}
.quote__text p:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 50px;
  height: 40px;
  background: url("../img/quote-open.svg") 0 0/cover no-repeat;
  transform: translateY(-40px);
}
.quote__text p:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  width: 50px;
  height: 40px;
  background: url("../img/quote-close.svg") 0 0/cover no-repeat;
  transform: translateY(40px);
}
.quote__text p span {
  color: #6059f7;
}
.quote__text p:last-child {
  margin-bottom: 0;
  color: #000;
}
.quote__text p:last-child:before, .quote__text p:last-child:after {
  content: "";
  display: none;
}

.quote__image {
  max-width: 330px;
  max-height: 330px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #000;
}
.quote__image img {
  width: 100%;
}

.contacts {
  padding: 60px 0;
}

.contacts__title {
  margin-bottom: 100px;
}

.contacts__subtitle {
  font-size: 35px;
  margin-bottom: 20px;
}

.contacts__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts__item {
  flex: 0 1 45%;
}

.contacts__image {
  width: 100%;
}
.contacts__image img {
  width: 100%;
}

.contacts__form p {
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #3d3d3d;
  margin-bottom: 30px;
}
.contacts__form .form__button {
  display: flex;
  justify-content: center;
}
.contacts__form button {
  width: 130px;
  height: 40px;
  background: #6059f7;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-transform: uppercase;
}
.contacts__form button:hover {
  background: #fff;
  color: #6059f7;
  border: 1px solid #6059f7;
}

.contacts__form_text {
  border: 1px solid #eeeeee;
  width: 47%;
  height: 40px;
  padding: 0 19px;
}

.contacts__form_textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #eeeeee;
  padding: 10px 19px;
  margin-bottom: 30px;
  resize: none;
}

.form__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.form__row input {
  flex: 0 1 48%;
}

footer {
  padding: 25px 0;
  background-color: #272727;
  color: #888888;
}

.footer__row {
  display: flex;
  justify-content: space-between;
}

.footer__item {
  flex: 0 1 30%;
}
.footer__item a {
  color: #888888;
}
.footer__item a:hover {
  text-decoration: underline;
}
.footer__item:nth-child(1) {
  max-width: 360px;
  margin: 0 100px 0 0;
}
.footer__item:nth-child(1) p {
  margin: 0 0 20px 0;
}
.footer__item:nth-child(2) {
  max-width: 130px;
  margin: 0 50px 0 0;
}
.footer__item:nth-child(3) {
  max-width: 130px;
  margin: 0 100px 0 0;
}
.footer__item:nth-child(4) p {
  margin-bottom: 12px;
}
.footer__item p {
  font-size: 12px;
  line-height: 15px;
}

.footer__logo {
  margin-bottom: 15px;
}

.footer__social {
  margin-bottom: 100px;
  height: 10px;
  display: flex;
}
.footer__social .footer__social_item {
  height: 100%;
  width: 10px;
  margin: 0 4px 0 0;
}
.footer__social .facebook {
  background: url("../img/facebook.svg") 0 0/cover no-repeat;
}
.footer__social .instagram {
  background: url("../img/instagram.svg") 0 0/cover no-repeat;
}
.footer__social .pinterest {
  background: url("../img/pinterest.svg") 0 0/cover no-repeat;
}
.footer__social .youtube {
  background: url("../img/youtube.svg") 0 0/cover no-repeat;
  transform: translateY(-1px);
  margin: 0;
  height: 116%;
}

.footer__design {
  font-size: 12px;
  line-height: 15px;
}
.footer__design span {
  color: #f7b517;
  font-weight: bold;
}

.footer__title {
  font-size: 19px;
  line-height: 23px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 22px;
}

.footer__list {
  font-size: 12px;
  line-height: 15px;
}
.footer__list li {
  margin-bottom: 5px;
}
.footer__list li:last-child {
  margin-bottom: 0px;
}

.footer__form {
  margin: 0 0 10px 0;
}
.footer__form .input {
  display: inline-block;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  background-color: #272727;
  color: #888888;
  border: 1px solid #888888;
  padding: 0 10px;
}
.footer__form .button__container {
  display: flex;
  justify-content: flex-end;
}
.footer__form button {
  width: 80px;
  height: 30px;
  background: #6059f7;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-transform: uppercase;
}
.footer__form button:hover {
  background: #272727;
  color: #fff;
  border: 1px solid #6059f7;
}

@media (max-width: 1169px) {
  .header__list li {
    margin: 0 0 0 10px;
  }

  .instructor__container {
    max-width: 720px;
    padding: 35px 65px 65px 170px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  }

  .plans__item {
    padding: 95px 5px 22px;
  }
  .plans__item .plans__subtitle {
    font-size: 18px;
  }
  .plans__item .plans__subtitle span {
    font-size: 12px;
  }
}
@media (max-width: 1009px) {
  .container {
    max-width: 700px;
    padding: 0 20px;
  }

  header {
    padding: 20px 0;
  }

  ._lock {
    overflow: hidden;
  }

  .first-screen .cloud_1,
.first-screen .cloud_2,
.first-screen .sun,
.first-screen .bird_1,
.first-screen .bird_2 {
    transform: scale(0);
  }

  .about_us__row {
    flex-direction: column;
    align-items: center;
  }
  .about_us__row .about_us__item {
    margin: 0 0 20px;
    min-width: 520px;
    min-height: 75px;
  }
  .about_us__row .about_us__item:before {
    top: 18px;
  }

  .signupnow .container {
    max-width: 600px;
  }

  .contakts__item {
    max-width: 30%;
  }
  .contakts__item img {
    width: 100%;
  }

  .header__row {
    position: relative;
  }

  .header__menu .menu__icon {
    display: block;
    z-index: 11;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header__menu .menu__icon span, .header__menu .menu__icon::before, .header__menu .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }
  .header__menu .menu__icon::before, .header__menu .menu__icon::after {
    content: "";
  }
  .header__menu .menu__icon::before {
    top: 0;
  }
  .header__menu .menu__icon::after {
    bottom: 0;
  }
  .header__menu .menu__icon span {
    top: 40%;
    transform: scale(1) translate(0, 50%);
  }
  .header__menu .menu__icon._active span {
    transform: scale(0) translate(0, 50%);
    background-color: #fff;
  }
  .header__menu .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
    background-color: #fff;
  }
  .header__menu .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
    background-color: #fff;
  }
  .header__menu .menu__body {
    position: absolute;
    z-index: 10;
    right: -20px;
    top: -40px;
    background-color: rgba(0, 0, 0, 0.95);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    width: 100%;
    height: auto;
    padding: 70px 0 50px;
    transition-duration: 500ms;
  }
  .header__menu .menu__body .header__list {
    flex-direction: column;
  }
  .header__menu .menu__body .header__list li {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .header__menu .menu__body .header__list li a {
    color: #fff;
  }
  .header__menu .menu__body .enroll_now {
    display: block;
    position: absolute;
    bottom: 0;
    right: calc(50% - 70px);
    transform: translateY(40px);
  }
  .header__menu .menu__body._active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .header__menu .enroll_now {
    display: none;
  }

  h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 12px;
  }

  .first-screen__img {
    background: url("../img/first-screen.svg") 50% 50%/100% 100% no-repeat;
    min-height: 600px;
  }

  .why__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .why__row_1 {
    margin-bottom: 70px;
  }

  .why__item_1 {
    padding: 0 50px;
  }

  .why__item_2 {
    flex: 0 1 60%;
  }

  .why__subtitle {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
  }
  .why__subtitle span {
    color: #f7b517;
  }

  .why__text {
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    text-align: left;
  }

  .why__row_2 {
    flex-direction: column;
  }

  .instructor .container {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .instructor .instructor__title {
    margin-bottom: 25px;
  }
  .instructor .instructor__container {
    padding: 35px 65px 65px;
  }
  .instructor img {
    position: static;
    top: 0px;
    left: 0px;
    margin-bottom: 25px;
  }

  .sat_class {
    background: url("../img/sat_class.svg") 50% 60%/0px 0px no-repeat;
  }

  .sat_class__box {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .sat_class__box:last-child {
    margin-bottom: 0;
  }

  .sat_class__row {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-bottom: 0px;
  }
  .sat_class__row .sat_class__box {
    margin-bottom: 30px;
  }
  .sat_class__row:last-child {
    margin-bottom: 0px;
  }

  .sat_class__row_2 {
    margin-bottom: 0px;
  }

  .about_us__item {
    width: 100%;
  }

  .why__item_1 {
    margin-bottom: 30px;
  }

  .why__row_1 {
    margin-bottom: 40px;
  }

  .sat_class {
    padding: 20px 0 25px;
  }

  .sta_class__list li {
    text-align: left;
  }

  .testimonials {
    padding: 30px 0 60px;
  }
  .testimonials .container {
    max-width: 700px;
    padding: 0 20px;
  }
  .testimonials .slider__item {
    padding: 10px 10px 60px;
    margin: 0 10px 0;
  }
  .testimonials .slider__item p {
    font-style: italic;
    padding: 26px 10px 0;
    font-size: 13px;
  }
  .testimonials .slider__item p:after {
    background: url("../img/slider-img.jpg") 0 0/cover no-repeat;
    border-radius: 50%;
  }
  .testimonials .slick-arrow.slick-prev {
    left: calc(50% - 80px);
    bottom: -30px;
  }
  .testimonials .slick-arrow.slick-next {
    right: calc(50% - 80px);
    bottom: -30px;
  }
  .plans__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .plans__item {
    border-radius: 60px;
    padding: 22% 13px 22px;
    flex: 0 0 100%;
    width: 45%;
    margin-bottom: 150px;
  }
  .plans__item:last-child {
    margin-bottom: 0;
  }
  .plans__item .enroll_now {
    position: absolute;
    bottom: 0;
    left: calc(50% - 70px);
    transform: translateY(20px);
  }
  .plans__item .plans__price {
    text-align: center;
    transform: translateY(85px);
    font-size: 25px;
    font-weight: 700;
  }
  .plans__item .plans__price span {
    color: #6059f7;
  }
  .plans__item .plans__price p {
    color: #6059f7;
    font-size: 12px;
    font-weight: 700;
  }

  .plans__item_2 .plans__price {
    transform: translateY(130px);
  }
}
@media (max-width: 840px) {
  .signupnow {
    background: #6059f7;
  }

  footer .footer__row {
    flex-direction: column;
  }

  .footer__item {
    flex: 0 1 100%;
  }
  .footer__item:nth-child(1) {
    max-width: 100%;
    margin: 0;
  }
  .footer__item:nth-child(1) p {
    margin: 0 0 10px 0;
  }
  .footer__item:nth-child(2) {
    max-width: 130px;
    margin: 0 0 20px;
  }
  .footer__item:nth-child(3) {
    max-width: 130px;
    margin: 0 0 20px;
  }
  .footer__item:nth-child(4) p {
    margin-bottom: 12px;
  }
  .footer__item p {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__logo {
    margin-bottom: 15px;
  }

  .footer__social {
    margin-bottom: 30px;
  }
  .footer__social .facebook {
    background: url("../img/facebook.svg") 0 0/cover no-repeat;
  }
  .footer__social .instagram {
    background: url("../img/instagram.svg") 0 0/cover no-repeat;
  }
  .footer__social .pinterest {
    background: url("../img/pinterest.svg") 0 0/cover no-repeat;
  }
  .footer__social .youtube {
    background: url("../img/youtube.svg") 0 0/cover no-repeat;
    transform: translateY(-1px);
    margin: 0;
    height: 116%;
  }
}
@media (max-width: 550px) {
  header {
    padding: 15px 0 0 0;
  }

  h1 {
    font-size: 25px;
  }

  .first-screen__text {
    font-size: 14px;
    margin: 0 0 40px;
  }

  .header__row {
    align-items: flex-start;
  }

  .title {
    font-size: 25px;
  }

  .first-screen__img {
    background: url("../img/first-screen.svg") 50% 0/auto 100% no-repeat;
    min-height: 300px;
  }

  .about_us {
    padding-bottom: 50px;
  }

  .about_us__row .about_us__item {
    min-width: 100%;
  }

  .instructor {
    padding: 0;
  }
  .instructor img {
    width: 90%;
  }
  .instructor .instructor__container {
    padding: 35px 0px 65px;
  }

  .instructor__container {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  }

  .sat_class {
    background: #fafafa;
  }

  .testimonials__title {
    margin-bottom: 25px;
  }

  .plans__item {
    border-radius: 50px;
    padding: 41% 13px 22px;
    width: 85%;
    margin-bottom: 150px;
  }
  .plans__item:last-child {
    margin-bottom: 0;
  }

  .quote__row {
    flex-direction: column;
  }

  .quote__text p {
    padding: 15px 0px 0;
    margin-bottom: 35px;
  }

  .quote__image {
    display: none;
  }

  .contacts__row {
    flex-direction: column;
  }

  .contacts__title {
    margin-bottom: 25px;
  }

  .contacts__image {
    margin-bottom: 35px;
  }

  .form__row {
    flex-direction: column;
  }
  .form__row input {
    flex: auto;
    width: 100%;
    height: 40px;
    margin: 0 0 20px;
  }
  .form__row input:last-child {
    margin: 0;
  }
}